Repository CodeU2018-Team31/codeu-project, pull requests merged in 2018-05, with the labels that each got.

#1 Update appengine-web.xml
  src/main/webapp/WEB-INF/appengine-web.xml
Labels: build

#4 Activity feed prototype
  src/main/java/codeu/controller/ActivityFeedServlet.java
  src/main/webapp/WEB-INF/tags/base.tag
  src/main/webapp/WEB-INF/view/activityFeed.jsp
  src/main/webapp/WEB-INF/web.xml
  src/test/java/codeu/controller/ActivityFeedServletTest.java
Labels: Activity Feed, Templates

#5 Applying base template to all JSP files (+ enhancement of base template)
  src/main/webapp/WEB-INF/tags/base.tag
  src/main/webapp/WEB-INF/view/activityFeed.jsp
  src/main/webapp/WEB-INF/view/chat.jsp
  src/main/webapp/WEB-INF/view/conversations.jsp
  src/main/webapp/WEB-INF/view/login.jsp
  src/main/webapp/WEB-INF/view/register.jsp
  src/main/webapp/about.jsp
  src/main/webapp/index.jsp
Labels: Templates

#8 Activity Model
  src/main/java/codeu/model/data/Activity.java
  src/test/java/codeu/model/data/ActivityTest.java
Labels: Activity Feed

#9 Activity Persistance
  src/main/java/codeu/model/store/persistence/PersistentDataStore.java
  src/main/java/codeu/model/store/persistence/PersistentStorageAgent.java
  src/test/java/codeu/model/store/persistence/PersistentDataStoreTest.java
  src/test/java/codeu/model/store/persistence/PersistentStorageAgentTest.java
Labels: Activity Feed

#6 ProfileServlet, Profile.jsp, web.xml, and ProfileServletTest
  src/main/java/codeu/controller/ProfileServlet.java
  src/main/webapp/WEB-INF/view/profile.jsp
  src/main/webapp/WEB-INF/web.xml
  src/test/java/codeu/controller/ProfileServletTest.java
Labels: Profile

#10 Styled Text Prototype
  pom.xml
  src/main/java/codeu/model/data/Message.java
  src/main/webapp/WEB-INF/view/chat.jsp
Labels: Styled Text

#11 Activity feed store-enum
  src/main/java/codeu/enumeration/ActivityTypeEnum.java
  src/main/java/codeu/model/data/Activity.java
  src/main/java/codeu/model/store/basic/ActivityStore.java
  src/main/java/codeu/model/store/persistence/PersistentDataStore.java
  src/test/java/codeu/model/data/ActivityTest.java
  src/test/java/codeu/model/store/basic/ActivityStoreTest.java
  src/test/java/codeu/model/store/persistence/PersistentDataStoreTest.java
  src/test/java/codeu/model/store/persistence/PersistentStorageAgentTest.java
Labels: Activity Feed

#12 [MVP Final] Activity feed log and view
  src/main/java/codeu/controller/ActivityFeedServlet.java
  src/main/java/codeu/controller/ChatServlet.java
  src/main/java/codeu/controller/ConversationServlet.java
  src/main/java/codeu/controller/RegisterServlet.java
  src/main/webapp/WEB-INF/view/activityFeed.jsp
  src/test/java/codeu/controller/ActivityFeedServletTest.java
  src/test/java/codeu/controller/ChatServletTest.java
  src/test/java/codeu/controller/ConversationServletTest.java
  src/test/java/codeu/controller/RegisterServletTest.java
Labels: Activity Feed
