Repository CodeU2018-Team31/codeu-project, pull requests merged in 2018-07, with the labels that each got.

#16 UI 2.0 Updates
  src/main/webapp/WEB-INF/tags/base.tag
  src/main/webapp/WEB-INF/view/chat.jsp
  src/main/webapp/WEB-INF/view/conversations.jsp
  src/main/webapp/css/chat.css
  src/main/webapp/css/main.css
Labels: UI 2.0

#18 EastBot: Sending Messages to Conversations
  src/main/java/codeu/controller/BotServlet.java
  src/main/java/codeu/service/BotService.java
  src/main/java/codeu/service/ChatService.java
  src/test/java/codeu/controller/BotServletTest.java
  src/test/java/codeu/service/BotServiceTest.java
  src/test/java/codeu/service/ChatServiceTest.java
Labels: ChatBot

#20 AdminServlet nullpointer exception fix
  src/main/java/codeu/controller/AdminServlet.java
Labels: Admin, bug

#24 Activity feed fixes
  src/main/java/codeu/model/data/Activity.java
  src/main/java/codeu/service/ChatService.java
  src/main/webapp/WEB-INF/view/activityFeed.jsp
  src/main/webapp/css/activityFeed.css
  src/test/java/codeu/model/data/ActivityTest.java
  src/test/java/codeu/service/ChatServiceTest.java
Labels: Activity Feed
